@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    background: linear-gradient(45deg, #000, #333, #000);
}
.container {
    width: 100%;
    max-width: 1400px;
}